<% content_for(:body_attributes) do %> data-turbolinks="false"<% end %>

<% content_for :header_javascripts do %>
  <%= tinymce_assets %>
  <%= tinymce %>
<% end %>

<% content_for :footer_javascripts do %>
  <%= render 'media/bundle' %>
<% end %>

<%= render 'layouts/admin/errors', object: @article %>

<div class="form-group">
  <%= f.label :title, 'Title' %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :description, 'Description' %>
  <%= f.text_area :description, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :feature_photo, 'Feature photo' %>
  <%= f.hidden_field :feature_photo,
                     value: @article.cached_feature_photo_data,
                     id: 'article-feature-photo-upload-result' %>
  <%= f.file_field :feature_photo,
                   accept: ImageUploader::ALLOWED_TYPES.join(','),
                   data: {preview_element: 'preview-feature-photo',
                          upload_result_element: 'article-feature-photo-upload-result'},
                   class: 'form-control-file' %>
</div>
<div class="image-preview mb-3">
  <%= image_tag @article.feature_photo_url(:thumbnail).to_s,
                width: '300',
                class: 'img-thumbnail file-upload-preview',
                id: 'preview-feature-photo' %>
</div>

<div class="form-group">
  <%= f.label :status, 'Status' %>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <%= f.collection_radio_buttons :status, Article.statuses, :first, :first, { include_hidden: false }, {} do |r|  %>
      <label class="btn btn-secondary <%= 'active' if f.object.status == r.value %>">
        <%= r.radio_button %>
        <%= r.label %>
      </label>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :topic_terms, 'Topics' %>
  <%= f.collection_check_boxes :taxonomy_term_relationship_ids,
                               TaxonomyTerm.topics,
                               :id,
                               :name,
                               {},
                               {} do |c| %>
    <div class="form-check">
      <%= c.check_box class: 'form-check-input',
                      checked: @article.taxonomy_term_ids.include?(c.value)  %>
      <%= c.label %>
    </div>
  <% end %>
</div>

<div class="form-group">
  <%= f.label :content, 'Content' %>
  <div id="content-editor-tools" class="mb-2">
    <%= button_tag 'Add Media', id: 'insert-media-button',
                   class: 'btn btn-primary insert-media',
                   'data-editor': 'content',
                   type: 'button' %>
  </div>
  <%= f.text_area :content, id: 'content', class: 'form-control tinymce', rows: 10 %>
</div>

<%= f.submit 'Submit', class: 'btn btn-primary mb-2' %>
