<header class="page-heading user-page-heading">
  <h1 class="title">Resend unlock instructions</h1>
</header>

<div class="row">
  <div class="col-main col-8">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row placeholder-container">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email' %>
      </div>

      <%= f.submit 'Resend unlock instructions', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <aside class="col-4"></aside>
</div>

<%= render "devise/shared/links" %>
