<!DOCTYPE html>
<html>
<head>
  <title>Techlogging</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'media', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  <%= controller_assets %>
  <%= yield :header_javascripts %>
</head>

<body<%= yield(:body_attributes) if content_for?(:body_attributes) %>>
<%= render 'layouts/admin/header' %>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <%= render 'layouts/admin/sidebar' %>
      </div>
    </nav>
    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </div>
</div>
<%= yield :footer_javascripts %>
</body>
</html>
