<!DOCTYPE html>
<html>
<head>
  <title>Techlogging</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  <%= controller_assets %>
  <%= yield :header_javascripts %>
</head>

<body<%= yield(:body_attributes) if content_for?(:body_attributes) %>>
<%= render 'layouts/admin/header' %>
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <%= render 'layouts/admin/sidebar' %>
    </nav>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </div>
</div>
<%= yield :footer_javascripts %>
</body>
</html>
