<!DOCTYPE html>
<html>
<head>
  <title>Techlogging</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'main.tablet', media: 'screen and (min-width:980px)' %>
  <%= stylesheet_link_tag 'main.desktop', media: 'screen and (min-width:1230px)' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/header' %>
<div class="topContent container error-header">
  <h1>OOPS.</h1>
  <div class="sub-copy">
    <h2>110010100</h2>
    <p>Something went wrong on your end or ours. Find some of our great content below.</p>
  </div>
</div>
<div id="mantle_skin">
  <div id="content" class="container">
    <div class="row"></div>
  </div>
</div>
</body>
</html>
